<?xl vrin="1.0" ncing="uf-8"?>
<packag>
  <packag i="vfin.Au" vrin="0.2" argFrawrk="n452" />
  <packag i="IppNkFrQuickBkApiV3" vrin="2.8.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.Agn.Inrcp" vrin="1.2.1" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.pnncyCllcr" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.PrfCunrCllcr" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.Wb" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.Winwrvr" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.ApplicainInig.Winwrvr.lryCannl" vrin="2.1.0" argFrawrk="n452" />
  <packag i="icrf.C.Prvir.NCpilrPlafr" vrin="1.0.0" argFrawrk="n452" />
  <packag i="icrf.N.Cpilr" vrin="1.0.0" argFrawrk="n452" vlpnpnncy="ru" />
  <packag i="Nwnf.Jn" vrin="9.0.1" argFrawrk="n452" />
</packag>
